@model EmployeeViewModel

<div class="col-lg-12 col-xl-6">
    <div class="rounded col-lg-12 h-100 p-4" style="background-color: #e6e6e6">
        <h6 class="mb-4">Create Page</h6>
        <form asp-controller="Employee" asp-action="Create" method="post">
            <div class="row mb-3">
                <label asp-for="FirstName" class="col-sm-2 col-form-label">FirstName</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="FirstName">
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="LastName" class="col-sm-2 col-form-label">LastName</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="LastName">
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Age" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                    <input asp-for="Age">
                    <span asp-validation-for="Age"></span>
                </div>
            </div>
            <br />
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Gender"
                               value="Male" checked>
                        <label class="form-check-label">
                            Male
                        </label>
                    </div>
                   
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Gender"
                               value="Female">
                        <label class="form-check-label">
                            Female
                        </label>
                    </div>
                </div>
            </fieldset>
            
            <br/>
            <label asp-for="Department">Department</label>
            <select asp-for="Department" name="Department">
                <option> </option>
                <option value=".Net">.Net</option>
                <option value="Front End">Front End</option>
                <option value="Ui">Ui</option>
                <option value="ML">ML</option>
                <option value="Database">Database</option>
            </select>
            <span asp-validation-for="Department"></span>
            <br />
                MeritalStatus:
                <input type="checkbox" asp-for="MeritalStatus" >
                <label asp-for="MeritalStatus">Married</label>
            

                <br />
            <br />
            <a asp-controller="Employee" asp-action="Index">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </a>
            
            <a asp-controller="Employee" asp-action="Index">
                <input class="btn btn-primary" type="button" value="Back" />
            </a>
</form>
    </div>
</div>